h1, h2, h3, h4, h5, h6, p, body, ul, li, a, header, nav, footer, div, article, source, video, figure, html {
    margin: 0px;
    padding: 0px;
}

.banner {
    background-image: url("./senate_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    text-align: center;
}

nav {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

.total_section {
    display: flex;
    justify-content: center;
}

table {
    border: black 1px solid;
    border-collapse: collapse;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.representTable th, td, tr {
    padding: 4px;
    border: black 1px solid;
    text-align: center;
}

.leaders {
   /* display: inline-flex; */
    margin: 0px 0px 10px 30px;
}
/*
.rep {
    margin-left: 40px;
}
*/
h3 {
    margin: 5px;
}

ul {
    margin-left: 20px;
}
/*
#demInfo{
    padding: 10px;
    border: 2px solid black;
    background-image: url(.images/democrat.jpg);
    min-width: 500px;
    min-height: 180px;
    width: 100%;
    font-size: 17px;
    text-decoration-color: black;
}

#repInfo{
    padding: 10px;
    border: 2px solid black;
    background-image: url(images/republican.jpg);
    min-width: 500px;
    min-height: 180px;
    width: 100%;
    font-size: 17px;
    text-decoration-color: black;
}
*/
#senatorsSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.eachSenator {
    display: none; /* Hidden by default */
    margin: 5px;
    border: 1px solid black;
    min-width: 150px;
    padding: 5px;
    background-image: url(.images/america.jpg);
    color: black;
    opacity: 1;
}

button {
    background-color: red;
    text-align: center;
    display: inline-block;
    color: white;
}

/* Popup container - can be anything you want */
.popup {
    width: 1030px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    color: #333;
    font-size: 70px;
    background-color: white;
    transform: translate(-50%,-50%,);
    top: 160%;
    left: 16%;
    background-color: black;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    color: white;
    
}

a:link {
  color: red;
}

a:visited {
  color: blue;
}

a:hover {
  color: hotpink;
}

a:active {
  color: black;
}

/* MM CSS Code */

/* The "show" class is added to divs from the filter() function */
.show {
  display: block;
}

#senatorInfo {
    min-height: 300px;
}

.state {
    float: right;
    cursor: default;
    background-color: red;
    color: white;
    border-color: black;
    text-align: center;
    display: inline-block;
}

.state li {
    list-style-type: none;
    margin: 20px;
    background-color: red;
}

#drop_content {
    display: none;
}

.state:hover #drop_content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: red;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    float: left;
}

.filter button {
    float: right;
}

#noData {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* The "hide" class is added to popup when the close button is clicked */
.hide {
    display: none;
}
